.list {
    $self: &;

    margin-bottom: 30px;

    &__add-btn {
        opacity: .6;

        &:hover {
            opacity: 1;
        }
    }

    li {
        display: flex;
        align-items: center;
        padding: 10px 12px;
        margin-bottom: 5px;
        cursor: pointer;

        &:hover #{$self}__remove-btn {
            opacity: .3;
        }

        #{$self}__remove-btn {
            opacity: 0;

            &:hover {
                opacity: .6;
            }
        }

        &:hover {
            background-color: rgba(255, 255, 255, .5);
        }

        &.active {
            background-color: #fff;
            box-shadow: 20px 20px 80px #cacaca;
            border-radius: 4px;
        }

        span {
            flex: 1;
        }

        .badge {
            position: relative;
            left: 2.5px;
        }

        i {
            display: inline-flex;
            margin-right: 10px;

            svg {
                fill: #7c7c7c;
            }
        }
    }
}